* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  list-style: none;
  text-decoration: none;
}

h2, h3, h4 {
  color: #ff3c00;
}

p {
  color: #ff3c00;
}

body {
  text-align: center;
}

.menu-del-index li {
  padding: 100px;
  display: block;
  font-size: 40px;
}

/*----------fotos-nav-principal---------*/
.menu-del-index__remeras {
  background-image: url("../imagesnueva/remeras.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Dela Gothic One', cursive;
}

.menu-del-index__remeras:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu-del-index__conjuntos {
  background-image: url("../imagesnueva/conjuntos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Dela Gothic One', cursive;
}

.menu-del-index__conjuntos:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu-del-index__chombas {
  background-image: url("../imagesnueva/chomba.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Dela Gothic One', cursive;
}

.menu-del-index__chombas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu-del-index__jeans {
  background-image: url("../imagesnueva/jeans.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Dela Gothic One', cursive;
}

.menu-del-index__jeans:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu-del-index__sweaters {
  background-image: url("../imagesnueva/sweaters.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Dela Gothic One', cursive;
}

.menu-del-index__sweaters:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu-del-index__buzos {
  background-image: url("../imagesnueva/buzo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Dela Gothic One', cursive;
}

.menu-del-index__buzos:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*----------fotos-nav-principal---------*/
/*----------texto-nav-principal---------*/
#remera, #conjunto, #chomba, #jean, #sweater, #buzos {
  bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 2px black;
  display: block;
  font-size: 3em;
  font-weight: bold;
  margin-top: 0;
  opacity: 0.76;
  text-align: center;
  text-shadow: 1px 1px 1px #666;
  text-transform: uppercase;
}

/*----------texto-nav-principal---------*/
/*----------textos-h---------*/
h2 {
  font-size: 50px;
  font-family: 'Benne', serif;
}

h3 {
  background-color: #686969;
  bottom: 0;
  color: black;
  text-shadow: 2px 2px 5px wheat;
  display: block;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*----------textos-h---------*/
#destacados {
  margin: 20px auto;
}

#semana {
  margin: 20px auto;
}

/*----------fondo-de-pagina---------*/
footer {
  background-image: url("../fondos/low_contrast_linen.png");
}

body {
  background-image: url("../fondos/full-bloom.png");
}

/*----------fondo-de-pagina---------*/
/*----------listas---------*/
#contacto {
  text-decoration: none;
  color: white;
}

#insta {
  color: white;
  text-decoration: none;
}

#mapaLista {
  color: white;
  list-style-position: inside;
}

#instaLista {
  color: white;
  list-style-position: inside;
}

#pagoLista {
  color: white;
  list-style-position: inside;
}

#contactoLista {
  color: white;
  list-style-position: inside;
}

#instaLista {
  color: white;
  list-style-position: inside;
}

#mapa {
  border-radius: 10px;
}

/*----------listas---------*/
/*----------estilo-header---------*/
.navbar-brand {
  font-size: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  text-shadow: 2px 2px 5px wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
}

.container-fluid {
  height: 150px;
  background-image: url(../fondos/low_contrast_linen.png);
}

.container {
  background-color: gray;
  border-radius: 8px;
}

.listaDeNav {
  text-decoration: none;
  color: inherit;
}

/*----------estilo-header---------*/
/*----------productos-destacados---------*/
.contenedor-destacados {
  border: 3px solid black;
  display: -ms-grid;
  display: grid;
  height: auto;
  width: 800px;
  font-size: 50px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
      grid-template-areas: "producto1 producto2 producto3" "descrip1 descrip2 descrip3";
}

.contenedor-destacados .producto1 {
  grid-area: "producto1";
  background-image: url(../fotosjose/chombas.jfif);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
  border-right: 5px solid black;
}

.contenedor-destacados .producto2 {
  grid-area: "producto2";
  background-image: url(../fotosjose/buzorojo.jfif);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.contenedor-destacados .producto3 {
  grid-area: "producto3";
  background-image: url(../fotosjose/sweaterrosa.jfif);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  border-left: 5px solid black;
}

.contenedor-destacados .producto1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 3px solid black;
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contenedor-destacados .producto2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 3px solid black;
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contenedor-destacados .producto3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 3px solid black;
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contenedor-destacados .descrip1 {
  grid-area: "descrip1";
  background-color: gray;
  color: white;
  text-shadow: 3px 3px 3px black;
  border-right: 5px solid black;
  border-top: 3px solid black;
}

.contenedor-destacados .descrip2 {
  grid-area: "descrip2";
  background-color: gray;
  color: white;
  text-shadow: 3px 3px 3px black;
  border-top: 3px solid black;
}

.contenedor-destacados .descrip3 {
  grid-area: "descrip3";
  background-color: gray;
  color: white;
  text-shadow: 3px 3px 3px black;
  border-left: 5px solid black;
  border-top: 3px solid black;
}

/*----------productos-destacados---------*/
/*----------divisiones--------*/
.fondo {
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 40px;
  background-image: url(../fondos/low_contrast_linen.png);
  color: black;
  text-shadow: 2px 2px 2px wheat;
  border-radius: 500px;
  border: 1px solid black;
  margin-bottom: 40px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.foto-producto:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 3px solid black;
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*----------divisiones--------*/
/*----------contacto---------*/
.contacto {
  font-size: 90px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  text-shadow: 5px 5px 5px wheat;
}

input {
  text-align: center;
  margin: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

input:focus {
  font-size: 20px;
  border: 2px solid orangered;
}

.aviso {
  font-size: 50px;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px 2px 2px orangered;
}

/*----------contacto---------*/
/*----------responsive--------*/
/*----------responsive--------*/
/*----------listas-de-nav---------*/
.container {
  list-style: none;
  background-image: url(../fondos/low_contrast_linen.png);
  border: 2px solid #000;
  font-size: 0;
  word-spacing: 130px;
  color: white;
  border-right: 2px solid #000;
  height: 50px;
  text-decoration: none;
}

.colorlista {
  text-decoration: none;
  color: inherit;
  color: white;
  text-shadow: 5px 5px 5px wheat;
}

.container__lista {
  display: inline;
  width: 20%;
  position: relative;
  font-size: 30px;
  word-spacing: 60px;
  text-decoration: none;
}

.container__lista {
  text-decoration: none;
}

.container__lista a:hover {
  color: orangered;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav-header ul {
  position: absolute;
  display: none;
}

.nav-header ul li {
  display: block;
}

/*----------listas-de-nav---------*/
/*----------fuentes/secciones---------*/
#buzosh2 {
  color: black;
  font-size: 100px;
}

#chombash2 {
  color: black;
  font-size: 100px;
}

#conjuntosh2 {
  color: black;
  font-size: 100px;
}

#jeansh2 {
  color: black;
  font-size: 100px;
}

#remerash2 {
  color: black;
  font-size: 100px;
}

#sweatersh2 {
  color: black;
  font-size: 100px;
}

/*----------fuentes/secciones---------*/
/*----------buzos---------*/
.buzo-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

.card-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
}

.card-title {
  color: orangered;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-align: center;
}

.card-img-top:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*----------buzos---------*/
/*----------chombas---------*/
.chombaAmarilla, .chombaNegra, .chombaRoja, .conjuntoUno, .conjuntoDos, .conjuntoTres, .jeanUno, .jeanDos, .jeanTres, .remeraUno, .remeraDos, .remeraTres, .sweaterUno, .sweaterDos, .sweaterTres {
  height: 300px;
  width: auto;
  border: 2px solid gray;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.chombaAmarilla:hover, .chombaNegra:hover, .chombaRoja:hover, .conjuntoUno:hover, .conjuntoDos:hover, .conjuntoTres:hover, .jeanUno:hover, .jeanDos:hover, .jeanTres:hover, .remeraUno:hover, .remeraDos:hover, .remeraTres:hover, .sweaterUno:hover, .sweaterDos:hover, .sweaterTres:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pamarilla, .pnegra, .proja, .puno, .pdos, .ptres, .pjeanuno, .pjeandos, .pjeantres, .premerauno, .premerados, .premeratres, .psweateruno, .psweaterdos, .psweatertres {
  text-align: center;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chombaNegra:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.chombaRoja:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cajaProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

/*----------chombas---------*/
/*----------conjuntos---------*/
.conjuntoUno:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.conjuntoDos:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.conjuntoTres:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*----------conjuntos---------*/
/*----------jeans---------*/
.jeanUno:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.jeanDos:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.jeanTres:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*----------jeans---------*/
/*----------remeras---------*/
.remeraUno:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.remeraDos:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.remeraTres:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*----------remeras---------*/
/*----------sweaters---------*/
.sweaterUno:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sweaterDos:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sweaterTres:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*----------sweaters---------*/
/*----------carousel---------*/
.carousel-inner img {
  border-radius: 8px;
  border: 2px solid black;
}

/*----------carousel---------*/
/*----------parallax---------*/
section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.wraper {
  -webkit-box-shadow: 0 0 12px black;
          box-shadow: 0 0 12px black;
  margin: 0 auto;
  width: 70%;
}

.bloqueuno {
  background-image: url("../fabrica/fabricados.jpg");
  height: 500px;
  width: auto;
}

.bloquedos {
  background-image: url("../fabrica/fabricauno.jpg");
  height: 500px;
}

.bloquetres {
  background-image: url("../fabrica/fabricatres.jpg");
  height: 500px;
}

.bloquecuatro {
  background-image: url("../fabrica/fabricacuatro.jpg");
  height: 500px;
}

.bloquecinco {
  background-image: url("../fabrica/fabricacinco.jpg");
  height: 500px;
}

.parallax {
  background-color: #1e2b35;
  bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: 5em;
  font-weight: bold;
  margin-top: 3em;
  opacity: 0.76;
  text-align: center;
  text-shadow: 1px 1px 1px #666;
  text-transform: uppercase;
  width: 100%;
}

#logo {
  display: block;
  margin: 6em auto 0;
  opacity: 0.8;
  width: 250px;
  height: 250px;
}

/*----------parallax---------*/
/*# sourceMappingURL=estilos.css.map */