* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
}

h2, h3, h4 {
color: rgb(255, 60, 0);
} 
p {
color: rgb(255, 60, 0);
}
body {
    text-align: center;
}
.menu-del-index li {
    padding: 100px;
    display: block;
    font-size: 40px;
    }

    .menu-del-index{
        display: block;
       margin-left: 0 !important;
       margin-right: 4vh !important;
    }
    /*----------fotos-nav-principal---------*/
.menu-del-index__remeras {
    background-image: url("../imagesnueva/remeras.png") ;
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dela Gothic One', cursive;
}

.menu-del-index__remeras:hover{
    transform: scale(1.01);
    transition: all 1s;
}
.menu-del-index__conjuntos {
    background-image: url("../imagesnueva/conjuntos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dela Gothic One', cursive;
}
.menu-del-index__conjuntos:hover{
    transform: scale(1.01);
    transition: all 1s;
}
.menu-del-index__chombas {
    background-image: url("../imagesnueva/chomba.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dela Gothic One', cursive;
}
.menu-del-index__chombas:hover{
    transform: scale(1.01);
    transition: all 1s;
}
.menu-del-index__jeans {
    background-image: url("../imagesnueva/jeans.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dela Gothic One', cursive;
}
.menu-del-index__jeans:hover{
    transform: scale(1.01);
    transition: all 1s;
}
.menu-del-index__sweaters {
    background-image: url("../imagesnueva/sweaters.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dela Gothic One', cursive;
}
.menu-del-index__sweaters:hover{
    transform: scale(1.01);
    transition: all 1s;
}
.menu-del-index__buzos {
    background-image: url("../imagesnueva/buzo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dela Gothic One', cursive;
}
.menu-del-index__buzos:hover{
    transform: scale(1.01);
    transition: all 1s;
}
/*----------fotos-nav-principal---------*/
/*----------texto-nav-principal---------*/
#remera {
    bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 2px black;
    display: block;
    font-size: 80px;
    font-weight: bold;
    margin-top: 0;
    opacity: 0.76;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
}
#conjunto {
@extend #remera
}
#chomba {
@extend #remera
}
#jean {
@extend #remera
}
#sweater {
@extend #remera
}
#buzos {
@extend #remera
}
/*----------texto-nav-principal---------*/
/*----------textos-h---------*/
h2 {
    font-size: 50px;
    font-family: 'Benne', serif;
}
h3 {
    background-color: #686969;
    bottom: 0;
    color: black;
    text-shadow: 2px 2px 5px wheat;
    display: block;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*----------textos-h---------*/
#destacados {
        margin: 20px auto;
    }
#semana {
        margin: 20px auto;
    }
/*----------fondo-de-pagina---------*/
    footer {
        background-image: url("../fondos/low_contrast_linen.png") ;
    }
    body {
        background-image: url("../fondos/full-bloom.png") ;
    }
/*----------fondo-de-pagina---------*/
/*----------listas---------*/
    #contacto {
        text-decoration: none;
        color: white;
    }
    #insta {
        color: white;
        text-decoration: none;
    }
    #mapaLista {
        color: white;
        list-style-position: inside;
    }
    #instaLista {
        color: white;
list-style-position: inside;
    }
    #pagoLista { 
color: white;
list-style-position: inside;
    }
    #contactoLista {
        color: white;
list-style-position: inside;
    }
    #instaLista {
        color: white;
list-style-position: inside;
    }
    #mapa {
        border-radius: 10px;
    }
/*----------listas---------*/
/*----------estilo-header---------*/
header{
    height: 100px;
    background-image: url("../fondos/low_contrast_linen.png");
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: black;
    text-shadow: 2px 2px 2px wheat;
    font-weight: 200;
    font-size: 30px;
}

.menu  a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: orangered;
}

#check {
    display: none;
}

/* responsive */

@media(max-width: 768px) {
    /* header */
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-image: url("../fondos/low_contrast_linen.png");
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    /* menu principal */
#remera{
    font-size: 30px;
    align-items: center;
    justify-content: center;
}


    /* destacados */

    #destacados{
        flex-direction: column;
    }

    /* parallax */
    .wraper{
        width: 90%;
    }

    /* contacto */
    .contacto {
        font-size: 10px;
    }

}
/*----------estilo-header---------*/
/*----------productos-destacados---------*/
#destacados{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#destacados img{
    height: 40vh;
    width: 30vh;
    border-radius: 2%;
}

#destacados img:hover{
    transform: scale(1.2);
    transition: all 1s;
}

#personas div{
    padding: 30px 30px;
}

h5{
    color: black;
    font-size: 30px;
    margin: 15px 0px;
}

.parrafo-destacados{
    color: gray;
    font-size: 20px;
}

.boton-comprar{
    display: inline-block;
    text-decoration: none;
    color: orangered;
    padding: 10px 30px;
    border: 3px solid orangered;
    border-radius: 30px;
    margin: 15px 0px;
    font-size: 20px;
    transition: all 0.4s;
}
.boton-comprar:hover{
    background: red;
    color: white;
}
/*----------productos-destacados---------*/
/*----------nav secciones---------*/

.nav-secciones{
    height: 5vh;
    background: gray;
    margin-top: 10px;
}
.secciones{
    color: white;
    font-size: 25px;
    padding: 5%;
}


/*----------nav secciones---------*/
    /*----------divisiones--------*/
    .fondo {
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 40px;
        background-image: url(../fondos/low_contrast_linen.png);
        color: black;
        text-shadow: 2px 2px 2px wheat;
        border-radius: 500px;
        border: 1px solid black;
        margin-bottom: 40px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-delay: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        }

        @keyframes aparecer{

            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        .foto-producto:hover {
            transform: scale(1.2);
            border: 3px solid black;
            border-radius: 5px;
            transition: all 1s;
        }
/*----------divisiones--------*/
/*----------contacto---------*/
.contacto{
    font-size: 90px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    text-shadow: 5px 5px 5px wheat;
}
input{
    text-align: center;
    margin: 5px;
    transition: all 1s;
}
    input:focus{
        font-size: 20px;
        border: 2px solid orangered;
    }
    .aviso  {
        font-size: 50px;
        text-transform: uppercase;
        color: black;
        text-shadow: 2px 2px 2px orangered;
    }
/*----------contacto---------*/
/*----------listas-de-nav---------*/
.container{
    list-style: none;
    background-image: url(../fondos/low_contrast_linen.png);
    border: 2px solid #000;
    font-size: 0;
    word-spacing: 130px;
    color: white;
    border-right: 2px solid #000 ;
    height: 50px;
    text-decoration: none;
}
.colorlista{
    text-decoration: none;
    color: inherit;
    color: white;
    text-shadow: 5px 5px 5px wheat;
}
.container__lista {
    display: inline;
    width: 20%;
    position: relative;
    font-size: 30px;
    word-spacing: 60px;
    text-decoration: none;
}
.container__lista {
    text-decoration: none;
}

.container__lista a:hover {
    color: orangered;
    transition: all 1s;
}

.nav-header ul {
    position: absolute;
    display: none;
}

.nav-header ul li {
display: block;
}

/*----------listas-de-nav---------*/

/*----------fuentes/secciones---------*/
#buzosh2 {
    color: black;
    font-size: 50px;
}
#chombash2 {
    color: black;
    font-size: 50px;
}
#conjuntosh2 {
    color: black;
    font-size: 50px;
}
#jeansh2 {
    color: black;
    font-size: 50px;
}
#remerash2 {
    color: black;
    font-size: 50px;
}
#sweatersh2 {
    color: black;
    font-size: 50px;
}
/*----------fuentes/secciones---------*/

/*----------buzos---------*/

.buzo-producto{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.card-text {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}
.card-title {
    color: orangered;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
.card-img-top:hover{
    transform: scale(1.5);
    transition: all 1.5s;
}

.card{
    margin: 10px;
    border: 3px solid gray;
    border-radius: 10px;
}
/*----------buzos---------*/
/*----------chombas---------*/
.chombaAmarilla{
    height: 300px;
    width: auto;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}
.chombaAmarilla:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.pamarilla{
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}
.chombaNegra{
    @extend .chombaAmarilla
}
.chombaNegra:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.pnegra{
@extend .pamarilla
}
.chombaRoja{
    @extend .chombaAmarilla
}
.chombaRoja:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.proja{
    @extend .pamarilla
}

.cajaProductos {
display: flex;
justify-content: center;
}
/*----------chombas---------*/
/*----------conjuntos---------*/

.conjuntoUno{
    @extend .chombaAmarilla
}
.conjuntoUno:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.puno{
    @extend .pamarilla
}
.conjuntoDos{
    @extend .chombaAmarilla
}
.conjuntoDos:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.pdos{
    @extend .pamarilla
}
.conjuntoTres{
    @extend .chombaAmarilla
}
.conjuntoTres:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.ptres{
    @extend .pamarilla
}
/*----------conjuntos---------*/
/*----------jeans---------*/
.jeanUno{
    @extend .chombaAmarilla
}
.jeanUno:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.pjeanuno{
    @extend .pamarilla
}
.jeanDos{
    @extend .chombaAmarilla
}
.jeanDos:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.pjeandos{
    @extend .pamarilla
}
.jeanTres{
    @extend .chombaAmarilla
}
.jeanTres:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.pjeantres{
    @extend .pamarilla
}
/*----------jeans---------*/
/*----------remeras---------*/
.remeraUno{
    @extend .chombaAmarilla
}
.remeraUno:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.premerauno{
    @extend .pamarilla
}
.remeraDos{
    @extend .chombaAmarilla
}
.remeraDos:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.premerados{
    @extend .pamarilla
}
.remeraTres{
    @extend .chombaAmarilla
}
.remeraTres:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.premeratres{
    @extend .pamarilla
}
/*----------remeras---------*/
/*----------sweaters---------*/
.sweaterUno{
    @extend .chombaAmarilla
}
.sweaterUno:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.psweateruno{
    @extend .pamarilla
}
.sweaterDos{
    @extend .chombaAmarilla
}
.sweaterDos:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.psweaterdos{
    @extend .pamarilla
}
.sweaterTres{
    @extend .chombaAmarilla
}
.sweaterTres:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.psweatertres{
    @extend .pamarilla
}
/*----------sweaters---------*/
/*----------carousel---------*/

.carousel-inner img {
    border-radius: 8px;
    border: 2px solid black;
}
/*----------carousel---------*/


/*----------parallax---------*/
section{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: 0 0;
    
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.wraper{
    box-shadow: 0 0 12px black;
    margin: 0 auto;
    width: 90%;
}

.bloqueuno {
    background-image: url("../fabrica/fabricados.jpg");
    height: 500px;
    width: 100%;
}
.bloquedos {
    background-image: url("../fabrica/fabricauno.jpg");
    height: 500px;
}
.bloquetres{
    background-image: url("../fabrica/fabricatres.jpg");
    height: 500px;
}
.bloquecuatro{
    background-image: url("../fabrica/fabricacuatro.jpg");
    height: 500px;
}
.bloquecinco{
    background-image: url("../fabrica/fabricacinco.jpg");
    height: 500px;
}

.parallax{
    background-color: #1e2b35;
    bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-size: 5em;
    font-weight: bold;
    margin-top: 3em;
    opacity: 0.76;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
    width: 100%;
}
#logo{
    display: block;
    margin: 6em auto 0;
    opacity: 0.8;
    width: 250px;
    height: 250px;
}
/*----------parallax---------*/

.btn{
    width: 130px;
    height: 45px;
    background: none;
    color: rgb(44, 44, 44);
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.05rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
    position: relative;
    margin-bottom: 30px;
}

.btn::before{
    content: '';
    position: absolute;
    top: -10%;
    left: -5%;
    width: 110%;
    height: 120%;
    border-radius: 50px;
    z-index: -1;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    transform: scale(0.8);
    transition: transform .4s;
}

.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    z-index: -2;
    filter: blur(10px)
}

.btn:hover::before{
    transform: scale(1);
}
